#debugCSSInfoBar {
  z-index: 100000;
}

////////SASS VARIABLES////////
/////////Color variables////////
$clrPrim100: #005bc3;
$clrPrim200: #2289ff;
$clrPrim300: #6cb1ff;
$clrPrim400: #acd3ff;
///////////////////////
$clrSec100: #00712b;
$clrSec200: #00ae42;
$clrSec300: #6fffa6;
$clrSec400: #b2ffcf;
///////////////////////
$fff: #fff;
$dark: #000;
//////////////////////
$clrGrey100: #333;
$clrGrey200: #5c5c5c;
$clrGrey300: #adadad;
$clrGrey400: #ebebeb;
///// gradient color variables//////
$inditom45: linear-gradient(-45deg, #ff9900, #d7ff47);
///////Spacing Variables///////
$sp0: 0.5rem;
$sp1: 1rem;
$sp2: 2rem;
$sp3: 3rem;
$sp4: 4rem;
$sp5: 5rem;
$sp6: 6rem;
///////Border Radius Variables///////
$br5: 0.3125rem;
$br10: 0.625rem;
$br15: 0.9375rem;
$br20: 1.25rem;
$br25: 1.5625rem;
$br50: 50%;
//////////////
$shadowSm: 3px 3px 5px rgba(0, 0, 0, 0.5);
$shadowMd: 5px 5px 10px rgba(0, 0, 0, 0.5);

///////////Tag Defaults
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-light);
}

////////SaaS  Utility Mixins////////

@mixin shadowSm {
  box-shadow: $shadowSm;
}
@mixin shadowMd {
  box-shadow: $shadowSm;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin canvas {
  width: 100%;
  height: 100vh;
  @include flexCenter;
}
@mixin mainCanvas {
  inset: 0;
  position: fixed;
  z-index: 1000;
}

//////UTILITY CLASSES/////////

//////Flex

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-inline: auto;

  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    min-width: 200px;
    flex: 1;
  }

  .col-1 {
    flex-basis: 100%;
  }

  .col-2 {
    flex-basis: 49%;
  }
  .col-3 {
    flex-basis: 32.8%;
  }
  .col-4 {
    flex-basis: 24%;
  }
}

///////////Grid
// .grid-col-3 {
//   display: grid;
//   grid-template-columns: repeat(3, minmax(300px, 1fr));
//   gap: $sp2;
// }

//////// Sections/Text/////////
.sections {
  padding-block: $sp3;
  padding-inline: $sp1;
}

.section-title {
  text-align: center;
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.small-txt {
  font-size: 1.3rem;
  font-size: clamp(1.2rem, 1.5vw, 1.3rem);
}

.big-txt {
  line-height: 1.2;
  font-size: clamp(1.2rem, 3vw, 4rem);
  font-weight: 600;
}

.heading-sm {
  font-size: 1.2rem;
}

///////Containers
.center {
  margin-inline: auto;
}

.tac {
  text-align: center;
}

.con-fluid {
  max-width: 100%;
}

.con-sm {
  max-width: 600px;
}
.con-md {
  max-width: 960px;
}
.con-lg {
  max-width: 1260px;
}

///////////Buttons ////////////
.btn-con {
  margin-block: $sp2;
}

.btn {
  padding-block: $sp0;
  padding-inline: $sp1;
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-weight: 500;
  margin-block: $sp1;
  border-radius: $sp0;

  &:hover {
    scale: 1.05;
  }
}

.btn-prim {
  background-color: $clrPrim200;
  color: $fff;

  &:hover {
    background-color: $clrPrim100;
  }
}
.btn-sec {
  background-color: $clrSec200;
  color: $fff;

  &:hover {
    background-color: $clrSec100;
  }
}
.btn-outline {
  background-color: transparent;
  color: $clrPrim100;
  border: 1px solid $clrPrim100;

  &:hover {
    background-color: $clrPrim100;
    color: $fff;
  }
}

/////////Overlay
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.gradient-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

///////////Animation////////////

//////////////fadeIn
.fadeUp {
  animation: fadeUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    scale: 0.2;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}
.fadeDown {
  animation: fadeDown linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    scale: 0.2;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}

.fadeInLeft {
  animation: fadeInLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.fadeInRight {
  animation: fadeInRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
